[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=utilities-terminal
TryExec=st
Exec=st
Categories=System;TerminalEmulator
